# Name: StereoMate# Description:# This plugin is a first-release of the Deconvolution processing within StereoMate.# Author: Steve J. West# Version: 0.0.1# Date: 2019/07/18# Requires: ImageJ 1.50bPlugins>StereoMate, "SM Deconvolution", stereomate.plugins.StereoMate_Deconvolution
Plugins>StereoMate, "SM Crop Stacks", stereomate.plugins.StereoMate_Crop_Stacks
Plugins>StereoMate, "-"
Plugins>StereoMate, "ROI Manager", stereomate.plugins.ROI_Manager
Plugins>StereoMate, "-"
Plugins>StereoMate, "Threshold Manager", stereomate.plugins.Threshold_Manager
Plugins>StereoMate, "Object Manager", stereomate.plugins.Object_Manager
Plugins>StereoMate, "-"
Plugins>StereoMate, "SM Analyser", stereomate.plugins.StereoMate_Analyser
Plugins>StereoMate, "-"
Plugins>StereoMate, "SM Settings", stereomate.plugins.StereoMateSettings